<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Add Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Books </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/books/all}"> Back to All Books </a>
            <!--/*@thymesVar id="book" type="com.finalProject.booklub.book.Book"*/-->
            <form action="#" class="form-horizontal" th:action="@{/books/all}"  th:object="${book}" method="post">
                <fieldset>
              <span class="pull-right">
                        <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                        <input type=reset id="reset" class="btn btn-danger" value="Reset"/>
              </span>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>author First Name</th>
                            <th>author Last Name</th>
                            <th>year Of Publish</th>
                            <th>publisher Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!--/*@thymesVar id="book" type="com.finalProject.booklub.book.Book"*/-->
                            <td><label><input th:placeholder="title"           th:type="text"  th:field="${book.title}"           required/></label></td>
                            <td><label><input th:placeholder="authorFirstName" th:type="text"  th:field="${book.authorFirstName}" required/></label></td>
                            <td><label><input th:placeholder="authorLastName"  th:type="text"  th:field="${book.authorLastName}"  required/></label></td>
                            <td><label><input th:placeholder="yearOfPublish"   th:type="text"  th:field="${book.yearOfPublish}"   required/></label></td>
                            <td><label><input th:placeholder="publisherName"   th:type="text"  th:field="${book.publisherName}"   required/></label></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>

