<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Books </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/books}"> Back to All Books </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/books/save}"
                  th:object="${form}"
                  method="put">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>author First Name</th>
                            <th>author Last Name</th>
                            <th>year Of Publish</th>
                            <th>publisher Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book, itemStat : ${form.books}">
                            <td><input th:placeholder="Title + ' ' + ${itemStat.count}" th:field="*{books[__${itemStat.index}__].title}" required/></td>
                            <td><input th:placeholder="author First Name + ' ' + ${itemStat.count}" th:field="*{books[__${itemStat.index}__].authorFirstName}" required/></td>
                            <td><input th:placeholder="author Last Name + ' ' + ${itemStat.count}" th:field="*{books[__${itemStat.index}__].authorLastName}" required/></td>
                            <td><input th:placeholder="year Of Publish + ' ' + ${itemStat.count}" th:field="*{books[__${itemStat.index}__].yearOfPublish}" required/></td>
                            <td><input th:placeholder="publisher Name + ' ' + ${itemStat.count}" th:field="*{books[__${itemStat.index}__].publisherName}" required/></td>

                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>